/* Footer.css */

.footer {
  background-color: #224363; /* Updated dark blue background */
  color: #FFFFFF; /* White text color for contrast */
  padding: 10px 40px; /* Ample padding for spacious feel */
  font-size: 0.9rem; /* Slightly larger font size for readability */
}

.footerAboutUS {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive grid layout */
  gap: 20px; /* Gap between grid items */
  text-align: center; /* Center text for all items */
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerHeading {
  font-size: 1.2rem; /* Larger font size for headings */
  margin-bottom: 15px; /* Space below the heading */
}

.footerSub {
  display: flex;
  flex-direction: row; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
}

.footerSub p {
  margin: 5px 0; /* Margin for top and bottom of each item */
}

.footerSub svg {
  margin: 10px; /* Margin around icons */
  font-size: 1.5rem; /* Larger icons for better visibility */
}

.footer-bottom {
  margin-top: 20px; /* Margin above the bottom text */
  border-top: 1px solid #28527a; /* Border for separation */
  text-align: center;
}

.footer-bottom small {
  display: block; /* Block display for small text */
}

/* Responsive styles */
@media (max-width: 768px) {
  .footerAboutUS {
    grid-template-columns: 1fr; /* Single column on small screens */
  }

  .column {
    width: 100%; /* Full width columns on small screens */
  }
}
