/* Header.css */

.header {
  background-color: #224363;
  /* Dark blue background */
  padding: 10px 100px;
  /* Adjust padding to match your design */
  display: flex;
  /* Use flexbox for layout */
  align-items: center;
  /* Center items vertically */
  justify-content: flex-start;
  /* Start aligning items from the left */
}

.logo img {
  height: 100px;
  width: 100px;
}

#divHeader,
.logo {
  width: 50%;
}
h1 {
  text-align: center;
  margin: 0;
  padding: 10px;
  font-size: 56px;
}

h2 {
  text-align: center;
  margin: 0;
}

.navigation {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0rem;
  color: black;
}

.navigation-menu {
  margin-left: auto;
}

.navigation-menu ul {
  display: flex;
  padding: 0;
}

.navigation-menu li {
  list-style-type: none;
  margin: 0 1rem;
  padding: 15px;
}

.navigation-menu li a {
  text-decoration: none;
  display: block;
  width: 100%;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #90bce5;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 65%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}


.navigation-menu li.active {
  color: #000000 !important;
}

.navigation-menu li.active a,.navigation-menu li a:hover  {
  color: #000000 !important;
}

.navigation-menu li:hover,.navigation-menu li.active a:hover {
  color: #000000 !important;
}
/* Input and select fields with a modern, flat design */
input[type="text"],
input[type="email"],
input[type="password"],
select {
    padding: 15px;
    margin-bottom: 15px;
    border: 2px solid #E2E8F0;
    border-radius: 8px;
    background-color: #FAFAFA;
    transition: border-color 0.2s ease-in-out;
}
select {
  margin-left: 20px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
select:focus {
    border-color: #A0AEC0;
    outline: none;
}
.content {
  z-index: 2;
  /* Ensure it's above the overlay */
  /* You can add padding if you need some space around the content */
}


@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }


  .navigation {
    height: 45px;
  }

  .navigation-menu ul {
    position: absolute;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 77px);
    background-color: #f0f0f0;
    top: 0px;
    margin-top: 36px;
  }

  .navigation-menu li {
    text-align: center;
    margin: 0;
    border: 1px solid #edcece;
  }

  .navigation-menu li a {
    width: 100%;
    font-weight: bold;
    font-size: 22px;
  }

  .navigation-menu.expanded ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    /* Fixed positioning to keep the menu at the top */
    top: 60px;
    /* Align to the top */
    left: 0;
    /* Align to the left */
    width: 100%;
    /* Full width */
    background-color: #2B5782;
    /* Dark blue background */
    height: 100vh;
    /* Full viewport height */
    z-index: 10;
    /* Ensure it's above other content */
  }

  .navigation-menu li.active {
    border-radius: 0px;
  }
  .navigation-menu ul {
    display: none;
  }

  .navigation-menu.expanded ul {
    display: block;
    height: auto;
  }
}