/* Header.css */

.header {
    background-color: #184487; /* Dark blue background */
    padding: 10px 20px; /* Adjust padding to match your design */
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Center items vertically */
    justify-content: flex-start; /* Start aligning items from the left */
  }
  
  .logo img {
    height: 100px;
    width: 100px 
;
  }
  