
/* HomePageContent.css */
.landing-page{  background-color: #f0f0f0; }

/* Hero Section */
.hero-section {
  position: relative; /* Relative positioning for the parent */
  color: #fff;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 4rem 0; /* Adjust padding to control the height of the section */
  overflow: hidden; /* Ensure no overflow of the content */
  max-height: 600px; /* Maximum height */
  min-height: 400px; /* Minimum height to ensure responsiveness */
}

.hero-overlay {
  position: absolute; /* Absolute positioning for the overlay */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; /* These zero values stretch the overlay to cover the hero section */
  background: rgba(0, 0, 0, 0.5); /* Dark overlay for better text readability */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center the content vertically */
  align-items: center; /* Center the content horizontally */
  padding: 2rem;
}

.hero-content h1 {
  color: #000; /* Dark color for the title */
  font-size: 3rem; /* Large font size for the title */
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.25rem; /* Adjust based on your design */
  margin-bottom: 1.5rem;
}


.hero-image {
  max-width: 50%; /* Adjust based on your design */
  display: flex;
  justify-content: center;
}

.hero-image img {
  width: 100%; /* Adjust if necessary */
 /* Adjust based on your design */
  height: auto;
}
.cta-section {
  display: flex;
}
.btn {
  background-color: #184487;
  border: none;  
  margin: 0 10px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  font-size: 16px;
    font-weight: bold;
  letter-spacing: 1px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
  color: #ffffff;
  text-decoration: none;
  margin-left: 0px;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
  background-color: #90bce5;
  color: black;
}
.home-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:80%;
  margin: auto;
}
.section-heading {
  font-size: 3rem; /* Larger font size for emphasis */
  color: #90bce5; /* Deep blue for a professional look */
  text-align: center; /* Center align the heading */
  position: relative; /* For pseudo-element positioning */
  font-weight: bold; /* Bold font weight for the heading */
}
.section-heading::after {
  content: '';
  display: block;
  width: 120px; /* A longer underline for distinction */
  height: 5px; /* A thicker line for visibility */
  background: #184487; /* A vibrant color for the underline, e.g., bright orange */
  position: absolute;
  bottom: -10px; /* Position right below the heading */
  left: 50%; /* Center the line */
  transform: translateX(-50%);
}

/* Welcome Section */
.welcome-section {
  background-color: #184487;
  color: white;
  padding: 40px;
  border-radius: 8px;
  margin: 40px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.features-section .section-heading{
  color: #184487;
}

/* Features Section */
.features-section {
  display: flex;
  gap: 1.5rem; /* Grid gap for spacing between features */
  margin: auto; /* Center the section */
}

.feature {
  padding: 2rem; /* Padding inside each feature for space */
  text-align: center; /* Center the content */
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out; /* Smooth transitions */
}

.feature-icon {
  font-size: 4rem; /* Larger icons for impact */
  margin-bottom: 1rem; /* Space below the icon */
  color: #90bce5; /* Icon color matches the underline */
}

.feature h3 {
  font-size: 1.5rem; /* Feature headings are prominent */
  margin-bottom: 0.5rem; /* Space below the heading */
}

.feature p {
  line-height: 1.6; /* More line height for readability */
}

.feature:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Subtle shadow on hover */
  transform: translateY(-5px); /* Lift effect on hover */
}
/* Testimonial Section */
.testimonial-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 40px 0;
}

.testimonial-container {
  background-color: #184487;
  color: white;
  border-radius: 8px;
  padding: 40px;
  display: flex;
  align-items: center;
  gap: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.testimonial-text {
  font-size: 1rem;
  font-style: italic;
}

.testimonial-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

/* Responsive styles */
@media (max-width: 768px) {
  .hero-section, .welcome-section,
  .features-section,
  .testimonial-container {
    flex-direction: column;
   }

  .hero-content {
    max-width: 100%;
    text-align: center;
  }

  .hero-image {
    max-width: 100%;
  }

  .hero-image img {
    max-width: 300px; /* Adjust for smaller screens */
  }
  .feature,
  .testimonial-section,
  .welcome-text,.cta-section {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;

  }
  .cta-button{width: auto}

  .testimonial-image {
    margin-left: 0;
    margin-top: 10px;
    /* Add space above the image */
  }
  /* .testimonial-container, .features-section {
    flex-direction: column;
  }

  .testimonial-text, .feature {
    max-width: 100%;
  } */
}

/* Ensure that the feature boxes do not wrap on small margins */
@media (min-width: 768px) {
  .features-section {
    flex-wrap: nowrap;
  }
}