
/* HomePageContent.css */
.landing-page{  background-color: #f0f0f0; }

/* Hero Section */
.hero-section {
  position: relative; /* Relative positioning for the parent */
  color: #fff;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 4rem 0; /* Adjust padding to control the height of the section */
  overflow: hidden; /* Ensure no overflow of the content */
  max-height: 600px; /* Maximum height */
  min-height: 400px; /* Minimum height to ensure responsiveness */
}

.hero-overlay {
  position: absolute; /* Absolute positioning for the overlay */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; /* These zero values stretch the overlay to cover the hero section */
  background: rgba(0, 0, 0, 0.5); /* Dark overlay for better text readability */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center the content vertically */
  align-items: center; /* Center the content horizontally */
  padding: 2rem;
}

.hero-content h1 {
  color: #000; /* Dark color for the title */
  font-size: 3rem; /* Large font size for the title */
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.25rem; /* Adjust based on your design */
  margin-bottom: 1.5rem;
}


.hero-image {
  max-width: 50%; /* Adjust based on your design */
  display: flex;
  justify-content: center;
}

.hero-image img {
  width: 100%; /* Adjust if necessary */
 /* Adjust based on your design */
  height: auto;
}
.cta-section {
  display: flex;
}
.btn {
  background-color: #184487;
  border: none;  
  margin: 0 10px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  font-size: 16px;
    font-weight: bold;
  letter-spacing: 1px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
  color: #ffffff;
  text-decoration: none;
  margin-left: 0px;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
  background-color: #90bce5;
  color: black;
}
.home-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:80%;
  margin: auto;
  max-height: 800px;
}
.home-page-content h2{
  text-align: left;
}
/* Welcome Section */
.welcome-section {
  background-color: #90bce5; /* Deep blue background */
  color: #000000; /* White text for contrast */
  padding: 50px 20px; /* Generous padding for airy feel */
  border-top-left-radius: 10px; /* Top left corner radius */
  border-top-right-radius: 10px; /* Top right corner radius */
  transform: translateY(-20%); /* Lift up to create overlapping effect */
  position: relative; /* Required for transform property */
  z-index: 2; /* Ensure it's above any other content */
}

/* Welcome Text Styling */
.welcome-text {
  font-size: 1.25rem; /* Larger font size for emphasis */
  line-height: 1.6; /* Line height for improved readability */
  margin: 0 auto; /* Center the text block */
}

/* Section Heading */
.section-heading {
  font-size: 2.5rem; /* Large font size for the section heading */
  letter-spacing: 1px; /* Letter spacing for a touch of elegance */
  margin-bottom: 20px; /* Space below the heading */
  display: inline-block; /* To enable background size */
  background: linear-gradient(to right, #000000, #184487); /* Gradient text background */
  -webkit-background-clip: text; /* Clip the background to the text */
  color: transparent; /* Make the text color transparent to show the background */
  padding: 0 10px; /* Padding for the gradient background */
}


/* Features Section */
.features-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
  background: #184487; /* Light background to make the icons pop */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  transform: translateY(-15%); /* Lift up to create overlapping effect */
}

.feature {
  flex: 1; /* Equal width for each feature */
  margin: 0 2rem; /* Spacing between features */
  padding: 2rem;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: #ffffff;
}

.feature-icon {
  color: #90bce5; /* UnityStock Hub's primary color */
  font-size: 4rem;
  transition: color 0.3s ease;
}

.feature h3 {
  margin-top: 1rem;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.feature p {
  transition: color 0.3s ease;
}

/* Hover effect for each feature */
.feature:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
}

.feature:hover .feature-icon,
.feature:hover h3,
.feature:hover p {
  color: #ffffff; /* A lighter shade of blue for hover effect */
}

/* Section Heading */
.features-section .section-heading{
 
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 8rem;
  color: transparent; /* Make the text color transparent to show the background */
  background: linear-gradient(to right, #ffffff, #90bce5); /* Gradient text background */
  -webkit-background-clip: text; /* Clip the background to the text */
  position: relative;
}
.features-section .section-heading::after {
  content: '';
  display: block;
  width: 120px; /* A longer underline for distinction */
  height: 5px; /* A thicker line for visibility */
  background: #184487; /* A vibrant color for the underline, e.g., bright orange */
  position: absolute;
  bottom: -10px; /* Position right below the heading */
  left: 50%; /* Center the line */
  transform: translateX(-50%);
}
/* Testimonial Section */
.testimonial-section {
  display: flex;
  flex-direction: column;
  align-items: center; 
  transform: translateY(-36%); 
}

.testimonial-container {
  background-color: #90bce5;
  color: #000000; 
  padding: 4rem 0; 
  padding-right: 1rem;
  display: flex;
  align-items: center;
  gap: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 10px; /* Top left corner radius */
  border-bottom-right-radius: 10px; /* Top right corner radius */
}

.testimonial-text {
  font-size: 1rem;
  font-style: italic;
}

.testimonial-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

/* Responsive styles */
@media (max-width: 768px) {
  .home-page-content {
    max-height: 2500px;
  }
  .hero-section, .welcome-section,
  .features-section,
  .testimonial-container {
    flex-direction: column;
   }

  .hero-content {
    max-width: 100%;
    text-align: center;
  }

  .hero-image {
    max-width: 100%;
  }

  .hero-image img {
    max-width: 300px; /* Adjust for smaller screens */
  }
  .feature,
  .testimonial-section,
  .welcome-text,.cta-section {
    width: 80%;
    margin-bottom: 10px;

  }

  .welcome-section,.features-section {
    transform: translateY(-5%);
  }
 .testimonial-section {
    transform: translateY(-14%);
  }
  .testimonial-container {
    padding: 20px 24px;
  }


  .cta-button{width: auto}

  .testimonial-image {
    margin-left: 0;
    margin-top: 10px;
    /* Add space above the image */
  }
 
}

/* Ensure that the feature boxes do not wrap on small margins */
@media (min-width: 768px) {
  .features-section {
    flex-wrap: nowrap;
  }
}