.login-page {
    display: flex;
    width: 80%;
    padding: 20px;
    margin: auto;
}

.left-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Centers vertically inside the left-panel */
    align-items: center;
    /* Centers horizontally */
    text-align: center;
    /* Centers the text inside the content */
    background-size: cover;
    position: relative;
    /* For the overlay positioning */
    width: 50%;
}
.login-image{
    width: 500px;
    height: 500px;
}
.login-form {
    border-radius: 8px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #90bce5;
    height: auto;
    margin: auto;
}
.login-form form {
    display: flex;
    flex-direction: column;
}
.content h2{
    margin-bottom: 0;
}
label,
input,
.btn {
    margin-left: 20px;
}

.login-footer {
    background-color: #90bce5;
    /* Dark blue background */
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    /* Add so224363me space between columns */
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    width: 80%;
    margin-bottom: 20px;
}

.login-footer p ,.content p{
    font-size: 1.25rem;
    /* Larger font size for emphasis */
    line-height: 1.6;
    /* Line height for improved readability */
    margin: 0 auto;
    /* Center the text block */
    padding: 20px;
}

/* JoinNowButton.css */
.join-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
    /* this creates space between the elements inside the flex container */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .login-page {
        flex-direction: column;
    }

    .left-panel,
    .login-form {
        width: 100%;
    }

    .login-form {
        width: 90%;
    }
}